<div class="category-list">
  <p class="text-muted" *ngIf="!categories.data">暂无分类</p>
  <ng-template [ngIf]="categories && categories.data">
    <div class="category-item-checkbox"
         title="{{ category.name }}"
         *ngFor="let category of categories.data">
      <ba-checkbox
        [(ngModel)]="category.checked"
        (ngModelChange)="itemSelectChange($event,category)">
        <span ba-checkbox-label>
          <span>&nbsp;</span>
          <span *ngIf="category.level">L</span>
          <span *ngFor="let num of categoryLevelMark(category.level)">-</span>
          <span>{{ category.name }}</span>
        </span>
      </ba-checkbox>
    </div>
  </ng-template>
  <hr>
  <button class="btn btn-sm btn-default " (click)="getCategories()">更新分类</button>
</div>
