<!-- 怎样获取值 -->
<div class="row">
  <div class="col-md-9 article-index">
    <ba-card title="撰写新文章" baCardClass="width-scroll">
      <!-- [(title)]:可以实现双向绑定 -->
      <edit-article [(tag)]="article.tag"
                    [(title)]="article.title"
                    [(content)]="article.content"
                    [(keywords)]="article.keywords"
                    [(description)]="article.description" ></edit-article>
    </ba-card>
  </div>

  <div class="col-md-3 ">
    <ba-card title="分类目录" baCardClass="with-scroll">
      <article-category [(category)]="article.category"></article-category>
    </ba-card>

    <ba-card title="自定义扩展" baCardClass="with-scroll">
      <article-extend [(extends)]="article.extends"></article-extend>
    </ba-card>

    <ba-card title="发布选项" baCardClass="with-scroll">
      <!-- [(publices)]:这种写法实现两种效果，1：publices：可以作为Input向自组件传递值，2：可以作为自定义事件来改变值，自定义事件是往父组件传递数据，这样效果类似于双向绑定 -->
      <article-submit [isArticle]="isArticle"
                      [(state)]="article.state"
                      [(publices)]="article.public"
                      [(password)]="article.password"
                      (submitArticle)="submitArticle()"></article-submit>
    </ba-card>
    <ba-card title="缩略图" baCardClass="with-scroll">
      <ba-picture [(ngModel)]="article.thumb" ></ba-picture>
    </ba-card>
  </div>
</div>
