@import 'conf/conf';

$text-color: #ffffff;


.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-gradient(linear,left top,left bottom,from(#06b0a7),color-stop(0.4, #1596a8),to(#045c6d));
  background: -webkit-linear-gradient(left,#06b0a7,#1596a8 40%,#045c6d);
}

.auth-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  @include bg-translucent-dark(0.55);
  color: #fff;
  padding: 32px;
  h1 {
    font-weight: $font-light;
    margin: 0 0 15px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }
  .control-label {
    padding-top: 11px;
    color: $text-color;
  }
  .form-group {
    margin-bottom: 12px;
  }
}

.auth-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

.btn-auth{
  border: 1px solid #00A6C7;
  background: #00A6C7;
  color: #fff;
  font-family: 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
}
